@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');

html, body {height:100%; margin:0;}
* {margin:0;}

body {background-color:red;}

header {height:15%; background-color:#DA667B; display:flex; justify-content:center; 
align-items:center;}

h1 {color:#F1E0C5; font-size:4.5em; font-family: 'Jim Nightshade', cursive;
 text-shadow: 2px 2px #342A21;}
 
h2 {color:#DA667B; font-size:3.5em; font-family: 'Jim Nightshade', cursive; 
display:flex; justify-content:center; text-shadow: 1px 1px #342A21;}

p {color:#342A21; margin:10px; font-family: garamond; font-size:1.3em;}

nav {background-color:#342A21; height:5%;}
 ul {list-style-type:none; display:flex; height:100%; padding:0; }
 li {color:#F1E0C5 ; border:solid 1px; display:flex; justify-content:center; 
 align-items:center; width:25%; box-sizing:border-box; height:100%;}
 
a:link {color:#F1E0C5; text-decoration:none;}
a:visited {color:#DA667B; text-decoration:none;} 
 
section {height:65%; background-color:#71816D;display:flex;}

footer {height:5%; background-color:#342A21; color:#C9B79C; display:flex; 
justify-content:center; align-items:center;}

#title {height:10%; background-color:#71816D;}

.about {width:50%; height:70%; margin:5%; padding:2%; background-color:#DA667B; 
padding:1px; border:5px solid #342A21; text-align:center;}

.sprinkles {width:50%; height:80%; margin:2%;}

img {padding:1px; border:5px solid #342A21;}
