@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade'); 

html, body {height:100%; margin:0;}
* {margin:0;}

body {background-color:red;}

header {height:15%; background-color:#DA667B; display:flex; justify-content:center; 
align-items:center;}

h1 {color:#F1E0C5; font-size:4.5em; font-family: 'Jim Nightshade', cursive;
 text-shadow: 2px 2px #342A21;}
 
h2 {color:#DA667B; font-size:4em; font-family: 'Jim Nightshade', cursive; 
display:flex; justify-content:center; text-shadow: 2px 2px #342A21;}

h3 {color:#DA667B; font-size:3.0em; font-family: 'Jim Nightshade', cursive; 
display:flex; justify-content:center; text-shadow: 2px 2px #342A21;}

nav {background-color:#342A21; height:5%;}
 ul {list-style-type:none; display:flex; height:100%; padding:0;}
 li {color:#F1E0C5 ; border:solid 1px; display:flex; justify-content:center; 
 align-items:center; width:25%; box-sizing:border-box; height:100%;}

a:link {color:#F1E0C5; text-decoration:none;}
a:visited {color:#DA667B; text-decoration:none;}

section {height:75%; background-color:#71816D; 
background-image: url("../img/ice-32109_1280.png");
background-repeat:no-repeat; background-size: 300px auto; background-position:center;
display:flex; justify-content:center; align-items:center;}

article {text-align:center;}

footer {height:5%; background-color:#342A21; color:#C9B79C; display:flex; 
justify-content:center; align-items:center;}

#cone {padding-top:20px; padding-bottom:20px; display:flex; justify-content:center;}

p {color:#C9B79C;}

img {max-height:500px; max-width:100%;}